<p>Do you want to logout?</p>

<form action="/logout" method="post">
	<div>
	<button name="confirm" value="0">No</button>
  <button name="confirm" value="1">Yes</button>
	</div>
	<div>
  <% if (typeof returnTo !== 'undefined') { %>
    <input type="hidden" name="return_to" value="<%= returnTo %>"/>
  <% } %>
  <% if (typeof state !== 'undefined') { %>
    <input type="hidden" name="state" value="<%= state %>"/>
  <% } %>
  <% if (typeof csrfToken !== 'undefined') { %>
    <input type="hidden" name="csrf_token" value="<%= csrfToken %>"/>
  <% } %>
	</div>
</form>
